/* menu */
.navbar {
  position: static;
  background-color: #005c81;
  font-family: Inconsolata;
  font-size: 25px;
  border-radius: 20px; }

/* Navigation links */
.navbar a {
  float: left;
  font-size: 25px;
  color: #f4a100;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Inconsolata';
  border-radius: 50px;
  font-size: 25px;
  color: white; }

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #f4a100; }

@media (max-width: 668px) {
  .navbar a {
    font-size: 18px; } }

.jumbotron {
  background-image: url(imagenhead/head-01.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
  text-align: center; }
  .jumbotron .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #005c46;
    font-size: 100px; }
  .jumbotron .slogan {
    position: absolute;
    font-size: 50px;
    color: #666666;
    font-family: 'Inconsolata';
    top: 65%;
    left: 25%; }

.caja_head_menuredes {
  position: fixed;
  top: 10px;
  background-color: #ec6200;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  display: block;
  color: white;
  right: 0; }

@media (max-width: 668px) {
  .jumbotron {
    height: 300px;
    background-size: 800px;
    position: relative; }
    .jumbotron .text {
      font-size: 40px;
      top: 60%;
      left: 50%; }
    .jumbotron .slogan {
      font-size: 20px;
      top: 70%;
      left: 15%; } }

.container h4 {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #005c46;
  font-family: 'Comfortaa';
  border-radius: 100px; }

.carousel-caption h4 {
  font-family: 'raleway','bold';
  font-size: 30px;
  color: #005c46;
  padding: 2%;
  text-align: center;
  background-color: #f9efe3;
  border-radius: 20px; }

.carousel-caption p {
  font-family: 'comfortaa';
  font-size: 20px;
  color: #f9efe3;
  background-color: #005c46;
  border-radius: 20px; }

.sectionhome {
  background-color: #f9efe3; }

/* Nombre de secciones */
.contenedorseccion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: white; }

.nombreseccion {
  font-family: 'comfortaa';
  font-size: 40px;
  color: #005c81;
  text-align: center;
  background-color: #f4a100;
  padding: 20px;
  width: 100px;
  border-radius: 50px; }

/*recetas*/
.titulo_receta_vegetariana {
  grid-area: header;
  background-color: #005c46;
  border-radius: 20px;
  color: white;
  font-family: 'inconsolata';
  font-size: 30px;
  text-align: center; }

.titulo_receta_vegana {
  grid-area: header;
  background-color: #f4a100;
  border-radius: 20px;
  color: white;
  font-family: 'inconsolata';
  font-size: 30px;
  text-align: center; }

.titulo_receta_celiaca {
  grid-area: header;
  background-color: #005c81;
  border-radius: 20px;
  color: white;
  font-family: 'inconsolata';
  font-size: 30px;
  text-align: center; }

.img_receta {
  grid-area: menu;
  border-radius: 50px; }

.ingredientes_receta {
  grid-area: middle;
  color: #666666;
  font-family: 'inconsolata';
  font-size: 30px; }

.preparacion_receta {
  grid-area: right;
  color: #666666;
  font-family: 'inconsolata';
  font-size: 30px; }

.contenedor_receta {
  display: grid;
  grid-template-areas: 'header header header header header header' 'menu menu middle right right right' 'menu menu middle right right right' 'footer footer footer footer footer footer';
  grid-gap: 5px;
  background-color: whitesmoke;
  padding: 50px; }

@media only screen and (max-width: 556px) {
  .contenedor_receta {
    grid-template-areas: 'header header header' 'menu menu menu' 'middle middle middle' 'right right right' 'footer footer footer';
    padding: 0px; }
    .contenedor_receta .titulo_receta_vegetariana {
      font-size: 20px; }
    .contenedor_receta .titulo_receta_vegana {
      font-size: 20px; }
    .contenedor_receta .titulo_receta_celiaca {
      font-size: 20px; }
    .contenedor_receta .ingredientes_receta {
      font-size: 15px; }
    .contenedor_receta .preparacion_receta {
      font-size: 15px; } }

@media (min-width: 1080px) {
  .contenedor_receta {
    grid-template-areas: 'header header header header header header' 'menu menu middle right right right' 'menu menu middle right right right' 'footer footer footer footer footer footer'; }
    .contenedor_receta .titulo_receta_vegetariana {
      font-size: 30px; }
    .contenedor_receta .titulo_receta_vegana {
      font-size: 30px; }
    .contenedor_receta .titulo_receta_celiaca {
      font-size: 30px; }
    .contenedor_receta .ingredientes_receta ul {
      font-size: 15px; }
    .contenedor_receta .preparacion_receta ol {
      font-size: 15px; }
    .contenedor_receta .preparacion_receta ul {
      font-size: 15px; } }

.col-sm-5 {
  background-color: #f9efe3;
  color: #005c46;
  padding-top: 30px;
  text-align: center;
  border-radius: 50px;
  max-width: 350px;
  height: 170px; }

.panel-body {
  color: #005c81;
  font-size: 20px;
  border: 2px solid #f9efe3; }

.precio {
  color: #005c46; }

.btn-lg {
  background-color: #f4a100;
  color: white; }

/*footer*/
.footer {
  background-image: url(imagenhead/head-01.png);
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  position: relative; }

@media only screen and (max-width: 556px) {
  .footer {
    height: 50px;
    background-size: cover; } }
